.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 8px 12px;
    transition: background 0.2s, color 0.2s;
  }

  .menu li:last-child {
    border-bottom: 0;
  }

  .menu li:hover {
    background: #e8e8e8;
  }

  .menu li:active {
    background: #ff6358;
    color: #fff;
  }