<div style="margin: 10px">
  <div class="card">
    <div class="card-block k-form">
      <fieldset>
        <legend>Selection Settings</legend>
        <div class="k-form-field">
          <span>Mode</span>
          <input
            type="radio"
            name="mode"
            id="single"
            value="single"
            class="k-radio"
            [(ngModel)]="mode"
            (change)="setSelectableSettings()"
          />
          <label class="k-radio-label" for="single">Single</label>
          <input
            type="radio"
            name="mode"
            id="multiple"
            value="multiple"
            class="k-radio"
            [(ngModel)]="mode"
            (change)="setSelectableSettings()"
          />
          <label class="k-radio-label" for="multiple">Multiple</label>
        </div>
        <label class="k-form-field">
          <input
            type="checkbox"
            id="drag"
            class="k-checkbox"
            [disabled]="this.mode === 'single'"
            [(ngModel)]="drag"
            (change)="setSelectableSettings()"
          />
          <label class="k-checkbox-label" for="drag">Use drag selection</label>
        </label>
      </fieldset>
    </div>
  </div>
</div>

<kendo-grid
  [data]="gridData"
  [selectable]="selectableSettings"
  kendoGridSelectBy="ProductID"
  [selectedKeys]="selectedValues"
  (selectionChange)="selectionChange($event)"
  [navigable]="true"
  [height]="300"
  (cellClick)="cellClickHandler($event)"
  (cellClose)="cellCloseHandler($event)"
  #grid
>
  <kendo-grid-column
    field="ProductName"
    title="Product Name"
    class="no-padding"
  >
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span
        class="whole-cell"
        [style.backgroundColor]="colorCode(rowIndex + 1, 0)"
      >
        {{ dataItem.ProductName }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="UnitsInStock"
    title="Units In Stock"
    class="no-padding"
    editor="numeric"
  >
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span
        class="whole-cell"
        [style.backgroundColor]="colorCode(rowIndex + 1, 1)"
      >
        {{ dataItem.UnitsInStock }}
      </span>
    </ng-template></kendo-grid-column
  >
  <kendo-grid-column
    field="Discontinued"
    title="Discontinued"
    class="no-padding"
    editor="boolean"
  >
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span
        class="whole-cell"
        [style.backgroundColor]="colorCode(rowIndex + 1, 2)"
      >
        {{ dataItem.Discontinued }}
      </span>
    </ng-template></kendo-grid-column
  >
  <kendo-grid-column
    field="UnitsOnOrder"
    title="Units On Order"
    class="no-padding"
    editor="numeric"
  >
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span
        class="whole-cell"
        [style.backgroundColor]="colorCode(rowIndex + 1, 3)"
      >
        {{ dataItem.UnitsOnOrder }}
      </span>
    </ng-template></kendo-grid-column
  >
  <kendo-grid-column
    field="ReorderLevel"
    title="Reorder Level"
    class="no-padding"
  >
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span [style.backgroundColor]="colorCode(rowIndex + 1, 4)">
        {{ dataItem.ReorderLevel }}
      </span>
    </ng-template></kendo-grid-column
  >
</kendo-grid>
<app-grid-context-menu
  [for]="grid"
  [menuItems]="['Copy Value', 'Paste Value']"
  (select)="onSelect($event)"
>
</app-grid-context-menu>
